button {
    margin: 2rem;
  color: azure;
  font-family: "Press Start 2P", sans-serif;
  border-radius: 20px;
  font-size: 20px;
  width: 25vw;
  height: 10vh;
  border: 6px dashed red;
}

.btstart
{
    background: url('../assets/startgame.webp') no-repeat;
    background-position: center;
}
.btend{
    background: url('../assets/endgame.gif') no-repeat;
    background-position: center;
    background-size: cover;
    color: black;
}