.circle{
    cursor: crosshair;
    width: 200px;
    height: 200px;
    border-style: groove;
    border-radius: 50%;
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    box-shadow: inset 3px 3px 30px black;
    
}
.circle:hover{
    opacity: 0.7;
    border-width: 4px;
}

.Active{
    background-image: url('../assets/gamemode.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

.InActive{
    background-color: green;
}


.above20{
background-image: url('../assets/hurray.webp');
background: no-repeat cover; 

}
.below20{
    background-image: url('../assets/lowerrank.gif');
 background: no-repeat cover; 
}